<%@ Control Language="C#" AutoEventWireup="true" CodeFile="BillableGridView.ascx.cs" Inherits="UserControls_BillableGridView" %>
    <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server">
        <AjaxSettings>
            <telerik:AjaxSetting AjaxControlID="RadGridBillable">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridBillable" />
                </UpdatedControls>
            </telerik:AjaxSetting>
            <telerik:AjaxSetting AjaxControlID="ButtonSearch">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridBillable" />
                </UpdatedControls>
            </telerik:AjaxSetting>
        </AjaxSettings>
    </telerik:RadAjaxManager>
 
<table style="background-color: #F8F7F4; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
    <tr>
        <td>
            <telerik:RadTextBox ID="TextBoxBillableCode" runat="server" Label="BillableCode" Width="300px"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadTextBox ID="TextBoxBillable" runat="server" Label="Billable" Width="300px"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridBillable" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceBillable">
<PagerStyle Mode="NextPrevNumericAndAdvanced" EnableSEOPaging="True"></PagerStyle>
<MasterTableView DataKeyNames="
BillableId
" DataSourceID="ObjectDataSourceBillable"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridBoundColumn ReadOnly="True" DataField="BillableId" HeaderText="BillableId" SortExpression="BillableId" UniqueName="BillableId"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="BillableCode" HeaderText="BillableCode" SortExpression="BillableCode" UniqueName="BillableCode"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="Billable" HeaderText="Billable" SortExpression="Billable" UniqueName="Billable"></telerik:GridBoundColumn>
        </Columns>
    </MasterTableView>
</telerik:RadGrid>
 
<asp:ObjectDataSource ID="ObjectDataSourceBillable" runat="server" TypeName="StaticInfoBillable"
    DeleteMethod="DeleteBillable"
    InsertMethod="InsertBillable"
    SelectMethod="SearchBillable"
    UpdateMethod="UpdateBillable">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="BillableId" Type="Int32" DefaultValue="-1" />
        <asp:ControlParameter ControlID="TextBoxBillableCode" DefaultValue="%" Name="BillableCode" PropertyName="Text" Type="String" />
        <asp:ControlParameter ControlID="TextBoxBillable" DefaultValue="%" Name="Billable" PropertyName="Text" Type="String" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="BillableId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="BillableId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="BillableCode" Type="String" />
        <asp:Parameter Name="Billable" Type="String" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="BillableId" Type="Int32" />
        <asp:Parameter Name="BillableCode" Type="String" />
        <asp:Parameter Name="Billable" Type="String" />
    </InsertParameters>
</asp:ObjectDataSource>
