<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ConfigurationGridView.ascx.cs" Inherits="UserControls_ConfigurationGridView" %>
 
<table style="background-color:lightgray; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
 
    <tr>
        <td>
            <telerik:RadComboBox ID="DropDownListModuleId" runat="server" DataSourceID="ObjectDataSourceDDLModuleId"
                DataTextField="Module" DataValueField="ModuleId" Label="Module" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLModuleId" runat="server" TypeName="StaticInfoModule"
                SelectMethod="ParameterModule">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadTextBox ID="TextBoxConfiguration" runat="server" Label="Configuration" Width="300px" Skin="Metro"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridConfiguration" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceConfiguration" OnSelectedIndexChanged="RadGridConfiguration_SelectedIndexChanged" Skin="Metro">
<PagerStyle Mode="NumericPages"></PagerStyle>
<MasterTableView DataKeyNames="
ConfigurationId
,WarehouseId
" DataSourceID="ObjectDataSourceConfiguration"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridBoundColumn DataField="ConfigurationId" HeaderText="ConfigurationId" SortExpression="ConfigurationId" UniqueName="ConfigurationId"></telerik:GridBoundColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListWarehouseId" ListTextField="Warehouse" ListValueField="WarehouseId" DataSourceID="ObjectDataSourceWarehouseId" DataField="WarehouseId" HeaderText="Warehouse">
            </telerik:GridDropDownColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListModuleId" ListTextField="Module" ListValueField="ModuleId" DataSourceID="ObjectDataSourceModuleId" DataField="ModuleId" HeaderText="Module">
            </telerik:GridDropDownColumn>
            <telerik:GridBoundColumn DataField="Configuration" HeaderText="Configuration" SortExpression="Configuration" UniqueName="Configuration"></telerik:GridBoundColumn>
                        <telerik:GridCheckBoxColumn DataField="Indicator" HeaderText="Indicator" SortExpression="Indicator" UniqueName="Indicator"></telerik:GridCheckBoxColumn>
            <telerik:GridBoundColumn DataField="IntegerValue" HeaderText="IntegerValue" SortExpression="IntegerValue" UniqueName="IntegerValue"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="Value" HeaderText="Value" SortExpression="Value" UniqueName="Value"></telerik:GridBoundColumn>
        </Columns>
    </MasterTableView>
    <ClientSettings AllowDragToGroup="True" AllowColumnsReorder="True" EnablePostBackOnRowClick="True">
        <Resizing AllowColumnResize="true"></Resizing>
        <Selecting AllowRowSelect="true" />
       </ClientSettings>
    <GroupingSettings ShowUnGroupButton="True" />
</telerik:RadGrid>
<asp:ObjectDataSource ID="ObjectDataSourceWarehouseId" runat="server" TypeName="StaticInfoWarehouse"
    SelectMethod="ParameterWarehouse">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceModuleId" runat="server" TypeName="StaticInfoModule"
    SelectMethod="ParameterModule">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
 
<asp:ObjectDataSource ID="ObjectDataSourceConfiguration" runat="server" TypeName="StaticInfoConfiguration"
    DeleteMethod="DeleteConfiguration"
    InsertMethod="InsertConfiguration"
    SelectMethod="SearchConfiguration"
    UpdateMethod="UpdateConfiguration">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="ConfigurationId" Type="Int32" DefaultValue="-1" />
        <asp:SessionParameter DefaultValue="0" Name="WarehouseId" SessionField="WarehouseId" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListModuleId" DefaultValue="-1" Name="ModuleId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="TextBoxConfiguration" DefaultValue="%" Name="Configuration" PropertyName="Text" Type="String" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="ConfigurationId" Type="Int32" />
        <asp:Parameter Name="WarehouseId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="ConfigurationId" Type="Int32" DefaultValue="-1" />
        <asp:SessionParameter DefaultValue="0" Name="WarehouseId" SessionField="WarehouseId" Type="Int32" />
        <asp:Parameter Name="ModuleId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="Configuration" Type="String" />
        <asp:Parameter Name="Indicator" Type="Boolean" />
        <asp:Parameter Name="IntegerValue" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="Value" Type="String" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="ConfigurationId" Type="Int32" />
        <asp:Parameter Direction="InputOutput" Name="WarehouseId" Type="Int32" />
        <asp:Parameter Name="ModuleId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="Configuration" Type="String" />
        <asp:Parameter Name="Indicator" Type="Boolean" />
        <asp:Parameter Name="IntegerValue" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="Value" Type="String" />
    </InsertParameters>
</asp:ObjectDataSource>
