<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CycleGridView.ascx.cs" Inherits="UserControls_CycleGridView" %>
    <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server">
        <AjaxSettings>
            <telerik:AjaxSetting AjaxControlID="RadGridCycle">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridCycle" />
                </UpdatedControls>
            </telerik:AjaxSetting>
            <telerik:AjaxSetting AjaxControlID="ButtonSearch">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridCycle" />
                </UpdatedControls>
            </telerik:AjaxSetting>
        </AjaxSettings>
    </telerik:RadAjaxManager>
 
<table style="background-color: #F8F7F4; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
    <tr>
        <td>
            <telerik:RadTextBox ID="TextBoxCycleCode" runat="server" Label="CycleCode" Width="300px"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadTextBox ID="TextBoxCycle" runat="server" Label="Cycle" Width="300px"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridCycle" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceCycle">
<PagerStyle Mode="NextPrevNumericAndAdvanced" EnableSEOPaging="True"></PagerStyle>
<MasterTableView DataKeyNames="
CycleId
" DataSourceID="ObjectDataSourceCycle"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridBoundColumn ReadOnly="True" DataField="CycleId" HeaderText="CycleId" SortExpression="CycleId" UniqueName="CycleId"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="CycleCode" HeaderText="CycleCode" SortExpression="CycleCode" UniqueName="CycleCode"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="Cycle" HeaderText="Cycle" SortExpression="Cycle" UniqueName="Cycle"></telerik:GridBoundColumn>
        </Columns>
    </MasterTableView>
</telerik:RadGrid>
 
<asp:ObjectDataSource ID="ObjectDataSourceCycle" runat="server" TypeName="StaticInfoCycle"
    DeleteMethod="DeleteCycle"
    InsertMethod="InsertCycle"
    SelectMethod="SearchCycle"
    UpdateMethod="UpdateCycle">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="CycleId" Type="Int32" DefaultValue="-1" />
        <asp:ControlParameter ControlID="TextBoxCycleCode" DefaultValue="%" Name="CycleCode" PropertyName="Text" Type="String" />
        <asp:ControlParameter ControlID="TextBoxCycle" DefaultValue="%" Name="Cycle" PropertyName="Text" Type="String" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="CycleId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="CycleId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="CycleCode" Type="String" />
        <asp:Parameter Name="Cycle" Type="String" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="CycleId" Type="Int32" />
        <asp:Parameter Name="CycleCode" Type="String" />
        <asp:Parameter Name="Cycle" Type="String" />
    </InsertParameters>
</asp:ObjectDataSource>
