<%@ Control Language="C#" AutoEventWireup="true" CodeFile="InterfaceMappingColumnGridView.ascx.cs" Inherits="UserControls_InterfaceMappingColumnGridView" %>
 
<table style="background-color:lightgray; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
    <tr>
        <td>
            <telerik:RadTextBox ID="TextBoxInterfaceMappingColumnCode" runat="server" Label="InterfaceMappingColumnCode" Width="300px" Skin="Metro"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadTextBox ID="TextBoxInterfaceMappingColumn" runat="server" Label="InterfaceMappingColumn" Width="300px" Skin="Metro"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadComboBox ID="DropDownListInterfaceDocumentTypeId" runat="server" DataSourceID="ObjectDataSourceDDLInterfaceDocumentTypeId"
                DataTextField="InterfaceDocumentType" DataValueField="InterfaceDocumentTypeId" Label="InterfaceDocumentType" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLInterfaceDocumentTypeId" runat="server" TypeName="StaticInfoInterfaceDocumentType"
                SelectMethod="ParameterInterfaceDocumentType">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
    </tr>
    <tr>
        <td>
            <telerik:RadComboBox ID="DropDownListInterfaceFieldId" runat="server" DataSourceID="ObjectDataSourceDDLInterfaceFieldId"
                DataTextField="InterfaceField" DataValueField="InterfaceFieldId" Label="InterfaceField" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLInterfaceFieldId" runat="server" TypeName="StaticInfoInterfaceField"
                SelectMethod="ParameterInterfaceField">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadComboBox ID="DropDownListInterfaceMappingFileId" runat="server" DataSourceID="ObjectDataSourceDDLInterfaceMappingFileId"
                DataTextField="InterfaceMappingFile" DataValueField="InterfaceMappingFileId" Label="InterfaceMappingFile" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLInterfaceMappingFileId" runat="server" TypeName="StaticInfoInterfaceMappingFile"
                SelectMethod="ParameterInterfaceMappingFile">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridInterfaceMappingColumn" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceInterfaceMappingColumn" OnSelectedIndexChanged="RadGridInterfaceMappingColumn_SelectedIndexChanged" Skin="Metro">
<PagerStyle Mode="NumericPages"></PagerStyle>
<MasterTableView DataKeyNames="
InterfaceMappingColumnId
" DataSourceID="ObjectDataSourceInterfaceMappingColumn"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridBoundColumn ReadOnly="True" DataField="InterfaceMappingColumnId" HeaderText="InterfaceMappingColumnId" SortExpression="InterfaceMappingColumnId" UniqueName="InterfaceMappingColumnId"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="InterfaceMappingColumnCode" HeaderText="InterfaceMappingColumnCode" SortExpression="InterfaceMappingColumnCode" UniqueName="InterfaceMappingColumnCode"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="InterfaceMappingColumn" HeaderText="InterfaceMappingColumn" SortExpression="InterfaceMappingColumn" UniqueName="InterfaceMappingColumn"></telerik:GridBoundColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListInterfaceDocumentTypeId" ListTextField="InterfaceDocumentType" ListValueField="InterfaceDocumentTypeId" DataSourceID="ObjectDataSourceInterfaceDocumentTypeId" DataField="InterfaceDocumentTypeId" HeaderText="InterfaceDocumentType">
            </telerik:GridDropDownColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListInterfaceFieldId" ListTextField="InterfaceField" ListValueField="InterfaceFieldId" DataSourceID="ObjectDataSourceInterfaceFieldId" DataField="InterfaceFieldId" HeaderText="InterfaceField">
            </telerik:GridDropDownColumn>
            <telerik:GridBoundColumn DataField="ColumnNumber" HeaderText="ColumnNumber" SortExpression="ColumnNumber" UniqueName="ColumnNumber"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="StartPosition" HeaderText="StartPosition" SortExpression="StartPosition" UniqueName="StartPosition"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="EndPostion" HeaderText="EndPostion" SortExpression="EndPostion" UniqueName="EndPostion"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="Format" HeaderText="Format" SortExpression="Format" UniqueName="Format"></telerik:GridBoundColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListInterfaceMappingFileId" ListTextField="InterfaceMappingFile" ListValueField="InterfaceMappingFileId" DataSourceID="ObjectDataSourceInterfaceMappingFileId" DataField="InterfaceMappingFileId" HeaderText="InterfaceMappingFile">
            </telerik:GridDropDownColumn>
        </Columns>
    </MasterTableView>
    <ClientSettings AllowDragToGroup="True" AllowColumnsReorder="True" EnablePostBackOnRowClick="True">
        <Resizing AllowColumnResize="true"></Resizing>
        <Selecting AllowRowSelect="true" />
       </ClientSettings>
    <GroupingSettings ShowUnGroupButton="True" />
</telerik:RadGrid>
<asp:ObjectDataSource ID="ObjectDataSourceInterfaceDocumentTypeId" runat="server" TypeName="StaticInfoInterfaceDocumentType"
    SelectMethod="ParameterInterfaceDocumentType">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceInterfaceFieldId" runat="server" TypeName="StaticInfoInterfaceField"
    SelectMethod="ParameterInterfaceField">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceInterfaceMappingFileId" runat="server" TypeName="StaticInfoInterfaceMappingFile"
    SelectMethod="ParameterInterfaceMappingFile">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
 
<asp:ObjectDataSource ID="ObjectDataSourceInterfaceMappingColumn" runat="server" TypeName="StaticInfoInterfaceMappingColumn"
    DeleteMethod="DeleteInterfaceMappingColumn"
    InsertMethod="InsertInterfaceMappingColumn"
    SelectMethod="SearchInterfaceMappingColumn"
    UpdateMethod="UpdateInterfaceMappingColumn">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="InterfaceMappingColumnId" Type="Int32" DefaultValue="-1" />
        <asp:ControlParameter ControlID="TextBoxInterfaceMappingColumnCode" DefaultValue="%" Name="InterfaceMappingColumnCode" PropertyName="Text" Type="String" />
        <asp:ControlParameter ControlID="TextBoxInterfaceMappingColumn" DefaultValue="%" Name="InterfaceMappingColumn" PropertyName="Text" Type="String" />
        <asp:ControlParameter ControlID="DropDownListInterfaceDocumentTypeId" DefaultValue="-1" Name="InterfaceDocumentTypeId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListInterfaceFieldId" DefaultValue="-1" Name="InterfaceFieldId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListInterfaceMappingFileId" DefaultValue="-1" Name="InterfaceMappingFileId" PropertyName="SelectedValue" Type="Int32" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="InterfaceMappingColumnId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="InterfaceMappingColumnId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="InterfaceMappingColumnCode" Type="String" />
        <asp:Parameter Name="InterfaceMappingColumn" Type="String" />
        <asp:Parameter Name="InterfaceDocumentTypeId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="InterfaceFieldId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="ColumnNumber" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="StartPosition" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="EndPostion" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="Format" Type="String" />
        <asp:Parameter Name="InterfaceMappingFileId" Type="Int32" DefaultValue="-1" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="InterfaceMappingColumnId" Type="Int32" />
        <asp:Parameter Name="InterfaceMappingColumnCode" Type="String" />
        <asp:Parameter Name="InterfaceMappingColumn" Type="String" />
        <asp:Parameter Name="InterfaceDocumentTypeId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="InterfaceFieldId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="ColumnNumber" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="StartPosition" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="EndPostion" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="Format" Type="String" />
        <asp:Parameter Name="InterfaceMappingFileId" Type="Int32" DefaultValue="-1" />
    </InsertParameters>
</asp:ObjectDataSource>
