<%@ Control Language="C#" AutoEventWireup="true" CodeFile="InterfaceMappingFileGridView.ascx.cs" Inherits="UserControls_InterfaceMappingFileGridView" %>
 
<table style="background-color:lightgray; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
    <tr>
        <td>
            <telerik:RadComboBox ID="DropDownListPrincipalId" runat="server" DataSourceID="ObjectDataSourceDDLPrincipalId"
                DataTextField="Principal" DataValueField="PrincipalId" Label="Principal" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLPrincipalId" runat="server" TypeName="StaticInfoPrincipal"
                SelectMethod="ParameterPrincipal">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadComboBox ID="DropDownListInterfaceFileTypeId" runat="server" DataSourceID="ObjectDataSourceDDLInterfaceFileTypeId"
                DataTextField="InterfaceFileType" DataValueField="InterfaceFileTypeId" Label="InterfaceFileType" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLInterfaceFileTypeId" runat="server" TypeName="StaticInfoInterfaceFileType"
                SelectMethod="ParameterInterfaceFileType">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadComboBox ID="DropDownListInterfaceDocumentTypeId" runat="server" DataSourceID="ObjectDataSourceDDLInterfaceDocumentTypeId"
                DataTextField="InterfaceDocumentType" DataValueField="InterfaceDocumentTypeId" Label="InterfaceDocumentType" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLInterfaceDocumentTypeId" runat="server" TypeName="StaticInfoInterfaceDocumentType"
                SelectMethod="ParameterInterfaceDocumentType">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
    </tr>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridInterfaceMappingFile" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceInterfaceMappingFile" OnSelectedIndexChanged="RadGridInterfaceMappingFile_SelectedIndexChanged" Skin="Metro">
<PagerStyle Mode="NumericPages"></PagerStyle>
<MasterTableView DataKeyNames="
InterfaceMappingFileId
" DataSourceID="ObjectDataSourceInterfaceMappingFile"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridBoundColumn ReadOnly="True" DataField="InterfaceMappingFileId" HeaderText="InterfaceMappingFileId" SortExpression="InterfaceMappingFileId" UniqueName="InterfaceMappingFileId"></telerik:GridBoundColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListPrincipalId" ListTextField="Principal" ListValueField="PrincipalId" DataSourceID="ObjectDataSourcePrincipalId" DataField="PrincipalId" HeaderText="Principal">
            </telerik:GridDropDownColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListInterfaceFileTypeId" ListTextField="InterfaceFileType" ListValueField="InterfaceFileTypeId" DataSourceID="ObjectDataSourceInterfaceFileTypeId" DataField="InterfaceFileTypeId" HeaderText="InterfaceFileType">
            </telerik:GridDropDownColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListInterfaceDocumentTypeId" ListTextField="InterfaceDocumentType" ListValueField="InterfaceDocumentTypeId" DataSourceID="ObjectDataSourceInterfaceDocumentTypeId" DataField="InterfaceDocumentTypeId" HeaderText="InterfaceDocumentType">
            </telerik:GridDropDownColumn>
            <telerik:GridBoundColumn DataField="Delimiter" HeaderText="Delimiter" SortExpression="Delimiter" UniqueName="Delimiter"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="StyleSheet" HeaderText="StyleSheet" SortExpression="StyleSheet" UniqueName="StyleSheet"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="PrincipalFTPSite" HeaderText="PrincipalFTPSite" SortExpression="PrincipalFTPSite" UniqueName="PrincipalFTPSite"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="FTPUserName" HeaderText="FTPUserName" SortExpression="FTPUserName" UniqueName="FTPUserName"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="FTPPassword" HeaderText="FTPPassword" SortExpression="FTPPassword" UniqueName="FTPPassword"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="HeaderRow" HeaderText="HeaderRow" SortExpression="HeaderRow" UniqueName="HeaderRow"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="SubDirectory" HeaderText="SubDirectory" SortExpression="SubDirectory" UniqueName="SubDirectory"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="FilePrefix" HeaderText="FilePrefix" SortExpression="FilePrefix" UniqueName="FilePrefix"></telerik:GridBoundColumn>
        </Columns>
    </MasterTableView>
    <ClientSettings AllowDragToGroup="True" AllowColumnsReorder="True" EnablePostBackOnRowClick="True">
        <Resizing AllowColumnResize="true"></Resizing>
        <Selecting AllowRowSelect="true" />
       </ClientSettings>
    <GroupingSettings ShowUnGroupButton="True" />
</telerik:RadGrid>
<asp:ObjectDataSource ID="ObjectDataSourcePrincipalId" runat="server" TypeName="StaticInfoPrincipal"
    SelectMethod="ParameterPrincipal">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceInterfaceFileTypeId" runat="server" TypeName="StaticInfoInterfaceFileType"
    SelectMethod="ParameterInterfaceFileType">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceInterfaceDocumentTypeId" runat="server" TypeName="StaticInfoInterfaceDocumentType"
    SelectMethod="ParameterInterfaceDocumentType">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
 
<asp:ObjectDataSource ID="ObjectDataSourceInterfaceMappingFile" runat="server" TypeName="StaticInfoInterfaceMappingFile"
    DeleteMethod="DeleteInterfaceMappingFile"
    InsertMethod="InsertInterfaceMappingFile"
    SelectMethod="SearchInterfaceMappingFile"
    UpdateMethod="UpdateInterfaceMappingFile">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="InterfaceMappingFileId" Type="Int32" DefaultValue="-1" />
        <asp:ControlParameter ControlID="DropDownListPrincipalId" DefaultValue="-1" Name="PrincipalId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListInterfaceFileTypeId" DefaultValue="-1" Name="InterfaceFileTypeId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListInterfaceDocumentTypeId" DefaultValue="-1" Name="InterfaceDocumentTypeId" PropertyName="SelectedValue" Type="Int32" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="InterfaceMappingFileId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="InterfaceMappingFileId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="PrincipalId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="InterfaceFileTypeId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="InterfaceDocumentTypeId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="Delimiter" Type="String" />
        <asp:Parameter Name="StyleSheet" Type="String" />
        <asp:Parameter Name="PrincipalFTPSite" Type="String" />
        <asp:Parameter Name="FTPUserName" Type="String" />
        <asp:Parameter Name="FTPPassword" Type="String" />
        <asp:Parameter Name="HeaderRow" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="SubDirectory" Type="String" />
        <asp:Parameter Name="FilePrefix" Type="String" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="InterfaceMappingFileId" Type="Int32" />
        <asp:Parameter Name="PrincipalId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="InterfaceFileTypeId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="InterfaceDocumentTypeId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="Delimiter" Type="String" />
        <asp:Parameter Name="StyleSheet" Type="String" />
        <asp:Parameter Name="PrincipalFTPSite" Type="String" />
        <asp:Parameter Name="FTPUserName" Type="String" />
        <asp:Parameter Name="FTPPassword" Type="String" />
        <asp:Parameter Name="HeaderRow" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="SubDirectory" Type="String" />
        <asp:Parameter Name="FilePrefix" Type="String" />
    </InsertParameters>
</asp:ObjectDataSource>
