<%@ Control Language="C#" AutoEventWireup="true" CodeFile="OperatorGroupInstructionTypeGridView.ascx.cs" Inherits="UserControls_OperatorGroupInstructionTypeGridView" %>
 
<script type="text/javascript" language="JavaScript">
 
function openNewWindowOperatorGroupInstructionType()
{
   window.open("OperatorGroupInstructionTypeFormView.aspx", "_blank",
      "height=440px width=540px top=100 left=100 resizable=no scrollbars=no ");
}
 
function openNewWindow()
{
    window.open("Error.aspx", "_blank",
        "height=440px width=540px top=150 left=150 resizable=no scrollbars=no ");
}
 
function openNewWindowCalendar(string)
{
    window.open("../Common/Calendar.aspx?Date=" + string, "_blank",
        "height=250px width=280px top=200 left=200 resizable=no scrollbars=no ");
}
</script>
 
<asp:MultiView ID="MultiView1" runat="server" ActiveViewIndex="0">
    <asp:View ID="View1" runat="server">
<table style="background-color: #F8F7F4; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
    <tr>
        <td>
            <asp:Label ID="LabelInstructionTypeId" runat="server" Text="InstructionType:"></asp:Label>
        </td>
        <td>
            <asp:DropDownList ID="DropDownListInstructionType" runat="server" DataSourceID="SqlDataSourceInstructionTypeDDL"
                DataTextField="InstructionType" DataValueField="InstructionTypeId">
            </asp:DropDownList>
            <asp:SqlDataSource ID="SqlDataSourceInstructionTypeDDL" runat="server"
                ConnectionString="<%$ ConnectionStrings:Connection String %>" SelectCommand="p_InstructionType_List"
                SelectCommandType="StoredProcedure"></asp:SqlDataSource>
        </td>
    </tr>
    <tr>
        <td>
            <asp:Label ID="LabelOperatorGroupId" runat="server" Text="OperatorGroup:"></asp:Label>
        </td>
        <td>
            <asp:DropDownList ID="DropDownListOperatorGroup" runat="server" DataSourceID="SqlDataSourceOperatorGroupDDL"
                DataTextField="OperatorGroup" DataValueField="OperatorGroupId">
            </asp:DropDownList>
            <asp:SqlDataSource ID="SqlDataSourceOperatorGroupDDL" runat="server"
                ConnectionString="<%$ ConnectionStrings:Connection String %>" SelectCommand="p_OperatorGroup_List"
                SelectCommandType="StoredProcedure"></asp:SqlDataSource>
        </td>
    </tr>
    <tr>
        <td>
            <asp:Label ID="LabelShow" runat="server" Text="Show:"></asp:Label>
        </td>
        <td>
            <asp:DropDownList ID="DropDownListShow" runat="server" OnInit="DropDownListShow_OnInit">
                <asp:ListItem>10</asp:ListItem>
                <asp:ListItem>20</asp:ListItem>
                <asp:ListItem>30</asp:ListItem>
                <asp:ListItem>50</asp:ListItem>
            </asp:DropDownList>
        </td>
        <td>
            <asp:ImageButton ID="ButtonSearch" runat="server" ImageUrl="~/Images/Buttons/search.png" OnClick="ButtonSearch_Click"/>
        </td>
    </tr>
</table>
</asp:View>
    <asp:View ID="View2" runat="server">
<table>
    <tr>
        <td><asp:Button ID="ButtonNew" runat="server" Text="New" OnClientClick="javascript:openNewWindowOperatorGroupInstructionType();"/></td>
        <td><asp:Button ID="ButtonEdit" runat="server" Text="Edit" OnClick="ButtonEdit_Click"/></td>
        <td><asp:Button ID="ButtonSave" runat="server" Text="Save" OnClick="ButtonSave_Click"/></td>
        <td><asp:Button ID="ButtonDelete" runat="server" Text="Delete" OnClick="ButtonDelete_Click"/></td>
        <td><asp:Button ID="ButtonBackToSearch" runat="server" Text="Search" OnClick="ButtonBackToSearch_Click"/></td>
        <td></td>
        <td></td>
        <td><asp:Button ID="ButtonPrevious" runat="server" Text="Previous" OnClick="ButtonPrevious_Click"/></td>
        <td><asp:Button ID="ButtonNext" runat="server" Text="Next" OnClick="ButtonNext_Click"/></td>
        <td></td>
        <td></td>
        <td><asp:Button ID="ButtonHelp" runat="server" Text="Help"/></td>
    </tr>
</table>
 
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
            <ContentTemplate>
                <asp:GridView ID="GridViewOperatorGroupInstructionType" runat="server" AllowPaging="True" AllowSorting="True" AutoGenerateColumns="False"
                    DataKeyNames="
InstructionTypeId
,OperatorGroupId
"
                DataSourceID="SqlDataSourceOperatorGroupInstructionType" PageSize="50"  OnRowUpdated="GridViewUpdated" OnRowDeleted="GridViewDeleted"
                OnSelectedIndexChanged="GridViewOperatorGroupInstructionType_SelectedIndexChanged" EnableViewState="false">
                <Columns>
                <asp:TemplateField HeaderText="Edit">
                    <ItemTemplate>
                        <asp:CheckBox ID="CheckBoxEdit" runat="server"></asp:CheckBox>
                    </ItemTemplate>
                </asp:TemplateField>
                <asp:CommandField ShowSelectButton="True" />
            <asp:TemplateField HeaderText="InstructionType" meta:resourcekey="InstructionType" SortExpression="InstructionTypeId">
                <EditItemTemplate>
                    <asp:DropDownList ID="DropDownListInstructionType" runat="server" DataSourceID="SqlDataSourceDDLInstructionType"
                        DataTextField="InstructionType" DataValueField="InstructionTypeId" SelectedValue='<%# Bind("InstructionTypeId") %>' >
                    </asp:DropDownList>
                    <asp:SqlDataSource ID="SqlDataSourceDDLInstructionType" runat="server" ConnectionString="<%$ ConnectionStrings:Connection String %>"
                        SelectCommand="p_InstructionType_Parameter" SelectCommandType="StoredProcedure">
                    </asp:SqlDataSource>
                </EditItemTemplate>
                <ItemTemplate>
                    <asp:HyperLink ID="HyperLinkInstructionTypeId" runat="server" Text='<%# Bind("InstructionType") %>' NavigateUrl="~/Administration/InstructionTypeGridView.aspx"></asp:HyperLink>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:BoundField DataField="InstructionType" HeaderText="InstructionType" ReadOnly="True" SortExpression="InstructionType" Visible="False" />
            <asp:TemplateField HeaderText="OperatorGroup" meta:resourcekey="OperatorGroup" SortExpression="OperatorGroupId">
                <EditItemTemplate>
                    <asp:DropDownList ID="DropDownListOperatorGroup" runat="server" DataSourceID="SqlDataSourceDDLOperatorGroup"
                        DataTextField="OperatorGroup" DataValueField="OperatorGroupId" SelectedValue='<%# Bind("OperatorGroupId") %>' >
                    </asp:DropDownList>
                    <asp:SqlDataSource ID="SqlDataSourceDDLOperatorGroup" runat="server" ConnectionString="<%$ ConnectionStrings:Connection String %>"
                        SelectCommand="p_OperatorGroup_Parameter" SelectCommandType="StoredProcedure">
                    </asp:SqlDataSource>
                </EditItemTemplate>
                <ItemTemplate>
                    <asp:HyperLink ID="HyperLinkOperatorGroupId" runat="server" Text='<%# Bind("OperatorGroup") %>' NavigateUrl="~/Administration/OperatorGroupGridView.aspx"></asp:HyperLink>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:BoundField DataField="OperatorGroup" HeaderText="OperatorGroup" ReadOnly="True" SortExpression="OperatorGroup" Visible="False" />
                        <asp:BoundField DataField="OrderBy" HeaderText="OrderBy" SortExpression="OrderBy" />
                    </Columns>
                    <EmptyDataTemplate>
                        No rows to display
                    </EmptyDataTemplate>
                </asp:GridView>
            </ContentTemplate>
            <Triggers>
                <asp:AsyncPostBackTrigger ControlID="ButtonNew" EventName="Click" />
                <asp:AsyncPostBackTrigger ControlID="ButtonEdit" EventName="Click" />
                <asp:AsyncPostBackTrigger ControlID="ButtonSave" EventName="Click" />
                <asp:AsyncPostBackTrigger ControlID="ButtonDelete" EventName="Click" />
                <asp:AsyncPostBackTrigger ControlID="ButtonPrevious" EventName="Click" />
                <asp:AsyncPostBackTrigger ControlID="ButtonNext" EventName="Click" />
                <asp:AsyncPostBackTrigger ControlID="ButtonHelp" EventName="Click" />
            </Triggers>
        </asp:UpdatePanel>
 
<asp:SqlDataSource ID="SqlDataSourceOperatorGroupInstructionType" runat="server" ConnectionString="<%$ ConnectionStrings:Connection String %>"
    DeleteCommand="p_OperatorGroupInstructionType_Delete" DeleteCommandType="StoredProcedure" InsertCommand="p_OperatorGroupInstructionType_Insert"
    InsertCommandType="StoredProcedure" SelectCommand="p_OperatorGroupInstructionType_Search" SelectCommandType="StoredProcedure"
    UpdateCommand="p_OperatorGroupInstructionType_Update" UpdateCommandType="StoredProcedure">
    <SelectParameters>
        <asp:ControlParameter ControlID="DropDownListShow" DefaultValue="" Name="PageSize" PropertyName="SelectedValue" Type="Int32" />
        <asp:SessionParameter DefaultValue="0" Name="PageNumber" SessionField="PageNumber" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListInstructionType" DefaultValue="" Name="InstructionTypeId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListOperatorGroup" DefaultValue="" Name="OperatorGroupId" PropertyName="SelectedValue" Type="Int32" />
    </SelectParameters>
    <DeleteParameters>
        <asp:Parameter Name="InstructionTypeId" Type="Int32" />
        <asp:Parameter Name="OperatorGroupId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:Parameter Name="InstructionTypeId" Type="Int32" />
        <asp:Parameter Name="OperatorGroupId" Type="Int32" />
        <asp:Parameter Name="OrderBy" Type="Int32" />
    </UpdateParameters>
    <InsertParameters>
        <asp:Parameter Direction="InputOutput" Name="InstructionTypeId" Type="Int32" />
        <asp:Parameter Direction="InputOutput" Name="OperatorGroupId" Type="Int32" />
        <asp:Parameter Name="OrderBy" Type="Int32" />
    </InsertParameters>
</asp:SqlDataSource>
<asp:LinkButton ID="LinkButtonShowError" runat="server" CommandName="ShowError" OnClientClick="javascript:openNewWindow();"></asp:LinkButton>
    </asp:View>
</asp:MultiView>
