<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PackExternalCompanyGridView.ascx.cs" Inherits="UserControls_PackExternalCompanyGridView" %>
 
<table style="background-color:lightgray; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
 
    <tr>
        <td>
            <telerik:RadComboBox ID="DropDownListExternalCompanyId" runat="server" DataSourceID="ObjectDataSourceDDLExternalCompanyId"
                DataTextField="ExternalCompany" DataValueField="ExternalCompanyId" Label="ExternalCompany" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLExternalCompanyId" runat="server" TypeName="StaticInfoExternalCompany"
                SelectMethod="ParameterExternalCompany">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadComboBox ID="DropDownListStorageUnitId" runat="server" DataSourceID="ObjectDataSourceDDLStorageUnitId"
                DataTextField="StorageUnit" DataValueField="StorageUnitId" Label="StorageUnit" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLStorageUnitId" runat="server" TypeName="StaticInfoStorageUnit"
                SelectMethod="ParameterStorageUnit">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadComboBox ID="DropDownListFromPackId" runat="server" DataSourceID="ObjectDataSourceDDLFromPackId"
                DataTextField="Pack" DataValueField="FromPackId" Label="Pack" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLFromPackId" runat="server" TypeName="StaticInfoPack"
                SelectMethod="ParameterPack">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
    </tr>
    <tr>
        <td>
            <telerik:RadComboBox ID="DropDownListToPackId" runat="server" DataSourceID="ObjectDataSourceDDLToPackId"
                DataTextField="Pack" DataValueField="ToPackId" Label="Pack" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLToPackId" runat="server" TypeName="StaticInfoPack"
                SelectMethod="ParameterPack">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridPackExternalCompany" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourcePackExternalCompany" OnSelectedIndexChanged="RadGridPackExternalCompany_SelectedIndexChanged" Skin="Metro">
<PagerStyle Mode="NumericPages"></PagerStyle>
<MasterTableView DataKeyNames="
WarehouseId
,ExternalCompanyId
,StorageUnitId
" DataSourceID="ObjectDataSourcePackExternalCompany"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListWarehouseId" ListTextField="Warehouse" ListValueField="WarehouseId" DataSourceID="ObjectDataSourceWarehouseId" DataField="WarehouseId" HeaderText="Warehouse">
            </telerik:GridDropDownColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListExternalCompanyId" ListTextField="ExternalCompany" ListValueField="ExternalCompanyId" DataSourceID="ObjectDataSourceExternalCompanyId" DataField="ExternalCompanyId" HeaderText="ExternalCompany">
            </telerik:GridDropDownColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListStorageUnitId" ListTextField="StorageUnit" ListValueField="StorageUnitId" DataSourceID="ObjectDataSourceStorageUnitId" DataField="StorageUnitId" HeaderText="StorageUnit">
            </telerik:GridDropDownColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListFromPackId" ListTextField="Pack" ListValueField="PackId" DataSourceID="ObjectDataSourcePackId" DataField="FromPackId" HeaderText="Pack">
            </telerik:GridDropDownColumn>
            <telerik:GridBoundColumn DataField="FromQuantity" HeaderText="FromQuantity" SortExpression="FromQuantity" UniqueName="FromQuantity"></telerik:GridBoundColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListToPackId" ListTextField="Pack" ListValueField="PackId" DataSourceID="ObjectDataSourcePackId" DataField="ToPackId" HeaderText="Pack">
            </telerik:GridDropDownColumn>
            <telerik:GridBoundColumn DataField="ToQuantity" HeaderText="ToQuantity" SortExpression="ToQuantity" UniqueName="ToQuantity"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="Comments" HeaderText="Comments" SortExpression="Comments" UniqueName="Comments"></telerik:GridBoundColumn>
        </Columns>
    </MasterTableView>
    <ClientSettings AllowDragToGroup="True" AllowColumnsReorder="True" EnablePostBackOnRowClick="True">
        <Resizing AllowColumnResize="true"></Resizing>
        <Selecting AllowRowSelect="true" />
       </ClientSettings>
    <GroupingSettings ShowUnGroupButton="True" />
</telerik:RadGrid>
<asp:ObjectDataSource ID="ObjectDataSourceWarehouseId" runat="server" TypeName="StaticInfoWarehouse"
    SelectMethod="ParameterWarehouse">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceExternalCompanyId" runat="server" TypeName="StaticInfoExternalCompany"
    SelectMethod="ParameterExternalCompany">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceStorageUnitId" runat="server" TypeName="StaticInfoStorageUnit"
    SelectMethod="ParameterStorageUnit">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceFromPackId" runat="server" TypeName="StaticInfoPack"
    SelectMethod="ParameterPack">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceToPackId" runat="server" TypeName="StaticInfoPack"
    SelectMethod="ParameterPack">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
 
<asp:ObjectDataSource ID="ObjectDataSourcePackExternalCompany" runat="server" TypeName="StaticInfoPackExternalCompany"
    DeleteMethod="DeletePackExternalCompany"
    InsertMethod="InsertPackExternalCompany"
    SelectMethod="SearchPackExternalCompany"
    UpdateMethod="UpdatePackExternalCompany">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:SessionParameter DefaultValue="0" Name="WarehouseId" SessionField="WarehouseId" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListExternalCompanyId" DefaultValue="-1" Name="ExternalCompanyId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListStorageUnitId" DefaultValue="-1" Name="StorageUnitId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListFromPackId" DefaultValue="-1" Name="FromPackId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListToPackId" DefaultValue="-1" Name="ToPackId" PropertyName="SelectedValue" Type="Int32" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="WarehouseId" Type="Int32" />
        <asp:Parameter Name="ExternalCompanyId" Type="Int32" />
        <asp:Parameter Name="StorageUnitId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:SessionParameter DefaultValue="0" Name="WarehouseId" SessionField="WarehouseId" Type="Int32" />
        <asp:Parameter Name="ExternalCompanyId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="StorageUnitId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="FromPackId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="FromQuantity" Type="Double" />
        <asp:Parameter Name="ToPackId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="ToQuantity" Type="Double" />
        <asp:Parameter Name="Comments" Type="String" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="WarehouseId" Type="Int32" />
        <asp:Parameter Direction="InputOutput" Name="ExternalCompanyId" Type="Int32" />
        <asp:Parameter Direction="InputOutput" Name="StorageUnitId" Type="Int32" />
        <asp:Parameter Name="FromPackId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="FromQuantity" Type="Double" />
        <asp:Parameter Name="ToPackId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="ToQuantity" Type="Double" />
        <asp:Parameter Name="Comments" Type="String" />
    </InsertParameters>
</asp:ObjectDataSource>
