<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PriceListGridView.ascx.cs" Inherits="UserControls_PriceListGridView" %>
    <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server">
        <AjaxSettings>
            <telerik:AjaxSetting AjaxControlID="RadGridPriceList">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridPriceList" />
                </UpdatedControls>
            </telerik:AjaxSetting>
            <telerik:AjaxSetting AjaxControlID="ButtonSearch">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridPriceList" />
                </UpdatedControls>
            </telerik:AjaxSetting>
        </AjaxSettings>
    </telerik:RadAjaxManager>
 
<table style="background-color: #F8F7F4; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
    <tr>
        <td>
            <telerik:RadComboBox ID="DropDownListPricingCategoryId" runat="server" DataSourceID="ObjectDataSourceDDLPricingCategoryId"
                DataTextField="PricingCategory" DataValueField="PricingCategoryId" Label="PricingCategoryId" Width="250px">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLPricingCategoryId" runat="server" TypeName="StaticInfoPricingCategory"
                SelectMethod="ParameterPricingCategory">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadComboBox ID="DropDownListStorageUnitId" runat="server" DataSourceID="ObjectDataSourceDDLStorageUnitId"
                DataTextField="StorageUnit" DataValueField="StorageUnitId" Label="StorageUnitId" Width="250px">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLStorageUnitId" runat="server" TypeName="StaticInfoStorageUnit"
                SelectMethod="ParameterStorageUnit">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridPriceList" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourcePriceList">
<PagerStyle Mode="NextPrevNumericAndAdvanced" EnableSEOPaging="True"></PagerStyle>
<MasterTableView DataKeyNames="
PriceListId
" DataSourceID="ObjectDataSourcePriceList"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridBoundColumn ReadOnly="True" DataField="PriceListId" HeaderText="PriceListId" SortExpression="PriceListId" UniqueName="PriceListId"></telerik:GridBoundColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListPricingCategoryId" ListTextField="PricingCategory" ListValueField="PricingCategoryId" DataSourceID="ObjectDataSourcePricingCategoryId" DataField="PricingCategoryId" HeaderText="PricingCategoryId">
            </telerik:GridDropDownColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListStorageUnitId" ListTextField="StorageUnit" ListValueField="StorageUnitId" DataSourceID="ObjectDataSourceStorageUnitId" DataField="StorageUnitId" HeaderText="StorageUnitId">
            </telerik:GridDropDownColumn>
            <telerik:GridBoundColumn DataField="RRP" HeaderText="RRP" SortExpression="RRP" UniqueName="RRP"></telerik:GridBoundColumn>
        </Columns>
    </MasterTableView>
</telerik:RadGrid>
<asp:ObjectDataSource ID="ObjectDataSourcePricingCategoryId" runat="server" TypeName="StaticInfoPricingCategory"
    SelectMethod="ParameterPricingCategory">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceStorageUnitId" runat="server" TypeName="StaticInfoStorageUnit"
    SelectMethod="ParameterStorageUnit">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
 
<asp:ObjectDataSource ID="ObjectDataSourcePriceList" runat="server" TypeName="StaticInfoPriceList"
    DeleteMethod="DeletePriceList"
    InsertMethod="InsertPriceList"
    SelectMethod="SearchPriceList"
    UpdateMethod="UpdatePriceList">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="PriceListId" Type="Int32" DefaultValue="-1" />
        <asp:ControlParameter ControlID="DropDownListPricingCategoryId" DefaultValue="-1" Name="PricingCategoryId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListStorageUnitId" DefaultValue="-1" Name="StorageUnitId" PropertyName="SelectedValue" Type="Int32" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="PriceListId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="PriceListId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="PricingCategoryId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="StorageUnitId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="RRP" Type="Decimal" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="PriceListId" Type="Int32" />
        <asp:Parameter Name="PricingCategoryId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="StorageUnitId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="RRP" Type="Decimal" />
    </InsertParameters>
</asp:ObjectDataSource>
