<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ProjectGridView.ascx.cs" Inherits="UserControls_ProjectGridView" %>
    <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server">
        <AjaxSettings>
            <telerik:AjaxSetting AjaxControlID="RadGridProject">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridProject" />
                </UpdatedControls>
            </telerik:AjaxSetting>
            <telerik:AjaxSetting AjaxControlID="ButtonSearch">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridProject" />
                </UpdatedControls>
            </telerik:AjaxSetting>
        </AjaxSettings>
    </telerik:RadAjaxManager>
 
<table style="background-color: #F8F7F4; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
    <tr>
        <td>
            <telerik:RadTextBox ID="TextBoxProjectCode" runat="server" Label="ProjectCode" Width="300px"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadTextBox ID="TextBoxProject" runat="server" Label="Project" Width="300px"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridProject" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceProject">
<PagerStyle Mode="NextPrevNumericAndAdvanced" EnableSEOPaging="True"></PagerStyle>
<MasterTableView DataKeyNames="
ProjectId
" DataSourceID="ObjectDataSourceProject"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridBoundColumn ReadOnly="True" DataField="ProjectId" HeaderText="ProjectId" SortExpression="ProjectId" UniqueName="ProjectId"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="ProjectCode" HeaderText="ProjectCode" SortExpression="ProjectCode" UniqueName="ProjectCode"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="Project" HeaderText="Project" SortExpression="Project" UniqueName="Project"></telerik:GridBoundColumn>
        </Columns>
    </MasterTableView>
</telerik:RadGrid>
 
<asp:ObjectDataSource ID="ObjectDataSourceProject" runat="server" TypeName="StaticInfoProject"
    DeleteMethod="DeleteProject"
    InsertMethod="InsertProject"
    SelectMethod="SearchProject"
    UpdateMethod="UpdateProject">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="ProjectId" Type="Int32" DefaultValue="-1" />
        <asp:ControlParameter ControlID="TextBoxProjectCode" DefaultValue="%" Name="ProjectCode" PropertyName="Text" Type="String" />
        <asp:ControlParameter ControlID="TextBoxProject" DefaultValue="%" Name="Project" PropertyName="Text" Type="String" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="ProjectId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="ProjectId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="ProjectCode" Type="String" />
        <asp:Parameter Name="Project" Type="String" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="ProjectId" Type="Int32" />
        <asp:Parameter Name="ProjectCode" Type="String" />
        <asp:Parameter Name="Project" Type="String" />
    </InsertParameters>
</asp:ObjectDataSource>
