<%@ Control Language="C#" AutoEventWireup="true" CodeFile="RequestTypeGridView.ascx.cs" Inherits="UserControls_RequestTypeGridView" %>
    <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server">
        <AjaxSettings>
            <telerik:AjaxSetting AjaxControlID="RadGridRequestType">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridRequestType" />
                </UpdatedControls>
            </telerik:AjaxSetting>
            <telerik:AjaxSetting AjaxControlID="ButtonSearch">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridRequestType" />
                </UpdatedControls>
            </telerik:AjaxSetting>
        </AjaxSettings>
    </telerik:RadAjaxManager>
 
<table style="background-color: #F8F7F4; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
    <tr>
        <td>
            <telerik:RadTextBox ID="TextBoxRequestTypeCode" runat="server" Label="RequestTypeCode" Width="300px"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadTextBox ID="TextBoxRequestType" runat="server" Label="RequestType" Width="300px"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridRequestType" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceRequestType">
<PagerStyle Mode="NextPrevNumericAndAdvanced" EnableSEOPaging="True"></PagerStyle>
<MasterTableView DataKeyNames="
RequestTypeId
" DataSourceID="ObjectDataSourceRequestType"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridBoundColumn ReadOnly="True" DataField="RequestTypeId" HeaderText="RequestTypeId" SortExpression="RequestTypeId" UniqueName="RequestTypeId"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="RequestTypeCode" HeaderText="RequestTypeCode" SortExpression="RequestTypeCode" UniqueName="RequestTypeCode"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="RequestType" HeaderText="RequestType" SortExpression="RequestType" UniqueName="RequestType"></telerik:GridBoundColumn>
        </Columns>
    </MasterTableView>
</telerik:RadGrid>
 
<asp:ObjectDataSource ID="ObjectDataSourceRequestType" runat="server" TypeName="StaticInfoRequestType"
    DeleteMethod="DeleteRequestType"
    InsertMethod="InsertRequestType"
    SelectMethod="SearchRequestType"
    UpdateMethod="UpdateRequestType">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="RequestTypeId" Type="Int32" DefaultValue="-1" />
        <asp:ControlParameter ControlID="TextBoxRequestTypeCode" DefaultValue="%" Name="RequestTypeCode" PropertyName="Text" Type="String" />
        <asp:ControlParameter ControlID="TextBoxRequestType" DefaultValue="%" Name="RequestType" PropertyName="Text" Type="String" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="RequestTypeId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="RequestTypeId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="RequestTypeCode" Type="String" />
        <asp:Parameter Name="RequestType" Type="String" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="RequestTypeId" Type="Int32" />
        <asp:Parameter Name="RequestTypeCode" Type="String" />
        <asp:Parameter Name="RequestType" Type="String" />
    </InsertParameters>
</asp:ObjectDataSource>
