<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SKUGridView.ascx.cs" Inherits="UserControls_SKUGridView" %>
 
<table style="background-color:lightgray; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
    <tr>
        <td>
            <telerik:RadComboBox ID="DropDownListUOMId" runat="server" DataSourceID="ObjectDataSourceDDLUOMId"
                DataTextField="UOM" DataValueField="UOMId" Label="UOM" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLUOMId" runat="server" TypeName="StaticInfoUOM"
                SelectMethod="ParameterUOM">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadTextBox ID="TextBoxSKU" runat="server" Label="SKU" Width="300px" Skin="Metro"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadTextBox ID="TextBoxSKUCode" runat="server" Label="SKUCode" Width="300px" Skin="Metro"></telerik:RadTextBox>
        </td>
    </tr>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridSKU" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceSKU" OnSelectedIndexChanged="RadGridSKU_SelectedIndexChanged" Skin="Metro">
<PagerStyle Mode="NumericPages"></PagerStyle>
<MasterTableView DataKeyNames="
SKUId
" DataSourceID="ObjectDataSourceSKU"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridBoundColumn ReadOnly="True" DataField="SKUId" HeaderText="SKUId" SortExpression="SKUId" UniqueName="SKUId"></telerik:GridBoundColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListUOMId" ListTextField="UOM" ListValueField="UOMId" DataSourceID="ObjectDataSourceUOMId" DataField="UOMId" HeaderText="UOM">
            </telerik:GridDropDownColumn>
            <telerik:GridBoundColumn DataField="SKU" HeaderText="SKU" SortExpression="SKU" UniqueName="SKU"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="SKUCode" HeaderText="SKUCode" SortExpression="SKUCode" UniqueName="SKUCode"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="Quantity" HeaderText="Quantity" SortExpression="Quantity" UniqueName="Quantity"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="AlternatePallet" HeaderText="AlternatePallet" SortExpression="AlternatePallet" UniqueName="AlternatePallet"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="SubstitutePallet" HeaderText="SubstitutePallet" SortExpression="SubstitutePallet" UniqueName="SubstitutePallet"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="Litres" HeaderText="Litres" SortExpression="Litres" UniqueName="Litres"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="ParentSKUCode" HeaderText="ParentSKUCode" SortExpression="ParentSKUCode" UniqueName="ParentSKUCode"></telerik:GridBoundColumn>
        </Columns>
    </MasterTableView>
    <ClientSettings AllowDragToGroup="True" AllowColumnsReorder="True" EnablePostBackOnRowClick="True">
        <Resizing AllowColumnResize="true"></Resizing>
        <Selecting AllowRowSelect="true" />
       </ClientSettings>
    <GroupingSettings ShowUnGroupButton="True" />
</telerik:RadGrid>
<asp:ObjectDataSource ID="ObjectDataSourceUOMId" runat="server" TypeName="StaticInfoUOM"
    SelectMethod="ParameterUOM">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
 
<asp:ObjectDataSource ID="ObjectDataSourceSKU" runat="server" TypeName="StaticInfoSKU"
    DeleteMethod="DeleteSKU"
    InsertMethod="InsertSKU"
    SelectMethod="SearchSKU"
    UpdateMethod="UpdateSKU">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="SKUId" Type="Int32" DefaultValue="-1" />
        <asp:ControlParameter ControlID="DropDownListUOMId" DefaultValue="-1" Name="UOMId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="TextBoxSKU" DefaultValue="%" Name="SKU" PropertyName="Text" Type="String" />
        <asp:ControlParameter ControlID="TextBoxSKUCode" DefaultValue="%" Name="SKUCode" PropertyName="Text" Type="String" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="SKUId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="SKUId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="UOMId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="SKU" Type="String" />
        <asp:Parameter Name="SKUCode" Type="String" />
        <asp:Parameter Name="Quantity" Type="Double" />
        <asp:Parameter Name="AlternatePallet" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="SubstitutePallet" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="Litres" Type="Decimal" />
        <asp:Parameter Name="ParentSKUCode" Type="String" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="SKUId" Type="Int32" />
        <asp:Parameter Name="UOMId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="SKU" Type="String" />
        <asp:Parameter Name="SKUCode" Type="String" />
        <asp:Parameter Name="Quantity" Type="Double" />
        <asp:Parameter Name="AlternatePallet" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="SubstitutePallet" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="Litres" Type="Decimal" />
        <asp:Parameter Name="ParentSKUCode" Type="String" />
    </InsertParameters>
</asp:ObjectDataSource>
