<%@ Control Language="C#" AutoEventWireup="true" CodeFile="StorageUnitExternalCompanyGridView.ascx.cs" Inherits="UserControls_StorageUnitExternalCompanyGridView" %>
 
<table style="background-color:lightgray; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
    <tr>
        <td>
            <telerik:RadComboBox ID="DropDownListStorageUnitId" runat="server" DataSourceID="ObjectDataSourceDDLStorageUnitId"
                DataTextField="StorageUnit" DataValueField="StorageUnitId" Label="StorageUnit" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLStorageUnitId" runat="server" TypeName="StaticInfoStorageUnit"
                SelectMethod="ParameterStorageUnit">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadComboBox ID="DropDownListExternalCompanyId" runat="server" DataSourceID="ObjectDataSourceDDLExternalCompanyId"
                DataTextField="ExternalCompany" DataValueField="ExternalCompanyId" Label="ExternalCompany" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLExternalCompanyId" runat="server" TypeName="StaticInfoExternalCompany"
                SelectMethod="ParameterExternalCompany">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridStorageUnitExternalCompany" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceStorageUnitExternalCompany" OnSelectedIndexChanged="RadGridStorageUnitExternalCompany_SelectedIndexChanged" Skin="Metro">
<PagerStyle Mode="NumericPages"></PagerStyle>
<MasterTableView DataKeyNames="
StorageUnitId
,ExternalCompanyId
" DataSourceID="ObjectDataSourceStorageUnitExternalCompany"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListStorageUnitId" ListTextField="StorageUnit" ListValueField="StorageUnitId" DataSourceID="ObjectDataSourceStorageUnitId" DataField="StorageUnitId" HeaderText="StorageUnit">
            </telerik:GridDropDownColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListExternalCompanyId" ListTextField="ExternalCompany" ListValueField="ExternalCompanyId" DataSourceID="ObjectDataSourceExternalCompanyId" DataField="ExternalCompanyId" HeaderText="ExternalCompany">
            </telerik:GridDropDownColumn>
            <telerik:GridBoundColumn DataField="AllocationCategory" HeaderText="AllocationCategory" SortExpression="AllocationCategory" UniqueName="AllocationCategory"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="MinimumShelfLife" HeaderText="MinimumShelfLife" SortExpression="MinimumShelfLife" UniqueName="MinimumShelfLife"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="ProductCode" HeaderText="ProductCode" SortExpression="ProductCode" UniqueName="ProductCode"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="SKUCode" HeaderText="SKUCode" SortExpression="SKUCode" UniqueName="SKUCode"></telerik:GridBoundColumn>
                        <telerik:GridCheckBoxColumn DataField="DefaultQC" HeaderText="DefaultQC" SortExpression="DefaultQC" UniqueName="DefaultQC"></telerik:GridCheckBoxColumn>
                        <telerik:GridCheckBoxColumn DataField="SendToQC" HeaderText="SendToQC" SortExpression="SendToQC" UniqueName="SendToQC"></telerik:GridCheckBoxColumn>
        </Columns>
    </MasterTableView>
    <ClientSettings AllowDragToGroup="True" AllowColumnsReorder="True" EnablePostBackOnRowClick="True">
        <Resizing AllowColumnResize="true"></Resizing>
        <Selecting AllowRowSelect="true" />
       </ClientSettings>
    <GroupingSettings ShowUnGroupButton="True" />
</telerik:RadGrid>
<asp:ObjectDataSource ID="ObjectDataSourceStorageUnitId" runat="server" TypeName="StaticInfoStorageUnit"
    SelectMethod="ParameterStorageUnit">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceExternalCompanyId" runat="server" TypeName="StaticInfoExternalCompany"
    SelectMethod="ParameterExternalCompany">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
 
<asp:ObjectDataSource ID="ObjectDataSourceStorageUnitExternalCompany" runat="server" TypeName="StaticInfoStorageUnitExternalCompany"
    DeleteMethod="DeleteStorageUnitExternalCompany"
    InsertMethod="InsertStorageUnitExternalCompany"
    SelectMethod="SearchStorageUnitExternalCompany"
    UpdateMethod="UpdateStorageUnitExternalCompany">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:ControlParameter ControlID="DropDownListStorageUnitId" DefaultValue="-1" Name="StorageUnitId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListExternalCompanyId" DefaultValue="-1" Name="ExternalCompanyId" PropertyName="SelectedValue" Type="Int32" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="StorageUnitId" Type="Int32" />
        <asp:Parameter Name="ExternalCompanyId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="StorageUnitId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="ExternalCompanyId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="AllocationCategory" Type="Decimal" />
        <asp:Parameter Name="MinimumShelfLife" Type="Decimal" />
        <asp:Parameter Name="ProductCode" Type="String" />
        <asp:Parameter Name="SKUCode" Type="String" />
        <asp:Parameter Name="DefaultQC" Type="Boolean" />
        <asp:Parameter Name="SendToQC" Type="Boolean" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="StorageUnitId" Type="Int32" />
        <asp:Parameter Direction="InputOutput" Name="ExternalCompanyId" Type="Int32" />
        <asp:Parameter Name="AllocationCategory" Type="Decimal" />
        <asp:Parameter Name="MinimumShelfLife" Type="Decimal" />
        <asp:Parameter Name="ProductCode" Type="String" />
        <asp:Parameter Name="SKUCode" Type="String" />
        <asp:Parameter Name="DefaultQC" Type="Boolean" />
        <asp:Parameter Name="SendToQC" Type="Boolean" />
    </InsertParameters>
</asp:ObjectDataSource>
