<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TimeBoxGridView.ascx.cs" Inherits="UserControls_TimeBoxGridView" %>
    <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server">
        <AjaxSettings>
            <telerik:AjaxSetting AjaxControlID="RadGridTimeBox">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridTimeBox" />
                </UpdatedControls>
            </telerik:AjaxSetting>
            <telerik:AjaxSetting AjaxControlID="ButtonSearch">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridTimeBox" />
                </UpdatedControls>
            </telerik:AjaxSetting>
        </AjaxSettings>
    </telerik:RadAjaxManager>
 
<table style="background-color: #F8F7F4; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
    <tr>
        <td>
            <telerik:RadComboBox ID="DropDownListTaskListId" runat="server" DataSourceID="ObjectDataSourceDDLTaskListId"
                DataTextField="TaskList" DataValueField="TaskListId" Label="TaskListId" Width="250px">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLTaskListId" runat="server" TypeName="StaticInfoTaskList"
                SelectMethod="ParameterTaskList">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridTimeBox" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceTimeBox">
<PagerStyle Mode="NextPrevNumericAndAdvanced" EnableSEOPaging="True"></PagerStyle>
<MasterTableView DataKeyNames="
TimeBoxId
" DataSourceID="ObjectDataSourceTimeBox"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridBoundColumn ReadOnly="True" DataField="TimeBoxId" HeaderText="TimeBoxId" SortExpression="TimeBoxId" UniqueName="TimeBoxId"></telerik:GridBoundColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListTaskListId" ListTextField="TaskList" ListValueField="TaskListId" DataSourceID="ObjectDataSourceTaskListId" DataField="TaskListId" HeaderText="TaskListId">
            </telerik:GridDropDownColumn>
                        <telerik:GridDateTimeColumn DataField="CreateDate" HeaderText="CreateDate"></telerik:GridDateTimeColumn>
            <telerik:GridBoundColumn DataField="ActualHours" HeaderText="ActualHours" SortExpression="ActualHours" UniqueName="ActualHours"></telerik:GridBoundColumn>
        </Columns>
    </MasterTableView>
</telerik:RadGrid>
<asp:ObjectDataSource ID="ObjectDataSourceTaskListId" runat="server" TypeName="StaticInfoTaskList"
    SelectMethod="ParameterTaskList">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
 
<asp:ObjectDataSource ID="ObjectDataSourceTimeBox" runat="server" TypeName="StaticInfoTimeBox"
    DeleteMethod="DeleteTimeBox"
    InsertMethod="InsertTimeBox"
    SelectMethod="SearchTimeBox"
    UpdateMethod="UpdateTimeBox">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="TimeBoxId" Type="Int32" DefaultValue="-1" />
        <asp:ControlParameter ControlID="DropDownListTaskListId" DefaultValue="-1" Name="TaskListId" PropertyName="SelectedValue" Type="Int32" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="TimeBoxId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="TimeBoxId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="TaskListId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="CreateDate" Type="DateTime" />
        <asp:Parameter Name="ActualHours" Type="Double" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="TimeBoxId" Type="Int32" />
        <asp:Parameter Name="TaskListId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="CreateDate" Type="DateTime" />
        <asp:Parameter Name="ActualHours" Type="Double" />
    </InsertParameters>
</asp:ObjectDataSource>
