<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TransportModeGridView.ascx.cs" Inherits="UserControls_TransportModeGridView" %>
    <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server">
        <AjaxSettings>
            <telerik:AjaxSetting AjaxControlID="RadGridTransportMode">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridTransportMode" />
                </UpdatedControls>
            </telerik:AjaxSetting>
            <telerik:AjaxSetting AjaxControlID="ButtonSearch">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridTransportMode" />
                </UpdatedControls>
            </telerik:AjaxSetting>
        </AjaxSettings>
    </telerik:RadAjaxManager>
 
<table style="background-color: #F8F7F4; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
    <tr>
        <td>
            <telerik:RadTextBox ID="TextBoxTransportModeCode" runat="server" Label="TransportModeCode" Width="300px"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadTextBox ID="TextBoxTransportMode" runat="server" Label="TransportMode" Width="300px"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridTransportMode" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceTransportMode">
<PagerStyle Mode="NextPrevNumericAndAdvanced" EnableSEOPaging="True"></PagerStyle>
<MasterTableView DataKeyNames="
TransportModeId
" DataSourceID="ObjectDataSourceTransportMode"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridBoundColumn ReadOnly="True" DataField="TransportModeId" HeaderText="TransportModeId" SortExpression="TransportModeId" UniqueName="TransportModeId"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="TransportModeCode" HeaderText="TransportModeCode" SortExpression="TransportModeCode" UniqueName="TransportModeCode"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="TransportMode" HeaderText="TransportMode" SortExpression="TransportMode" UniqueName="TransportMode"></telerik:GridBoundColumn>
        </Columns>
    </MasterTableView>
</telerik:RadGrid>
 
<asp:ObjectDataSource ID="ObjectDataSourceTransportMode" runat="server" TypeName="StaticInfoTransportMode"
    DeleteMethod="DeleteTransportMode"
    InsertMethod="InsertTransportMode"
    SelectMethod="SearchTransportMode"
    UpdateMethod="UpdateTransportMode">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="TransportModeId" Type="Int32" DefaultValue="-1" />
        <asp:ControlParameter ControlID="TextBoxTransportModeCode" DefaultValue="%" Name="TransportModeCode" PropertyName="Text" Type="String" />
        <asp:ControlParameter ControlID="TextBoxTransportMode" DefaultValue="%" Name="TransportMode" PropertyName="Text" Type="String" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="TransportModeId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="TransportModeId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="TransportModeCode" Type="String" />
        <asp:Parameter Name="TransportMode" Type="String" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="TransportModeId" Type="Int32" />
        <asp:Parameter Name="TransportModeCode" Type="String" />
        <asp:Parameter Name="TransportMode" Type="String" />
    </InsertParameters>
</asp:ObjectDataSource>
