<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WarehouseCodeReferenceGridView.ascx.cs" Inherits="UserControls_WarehouseCodeReferenceGridView" %>
 
<table style="background-color:lightgray; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
 
    <tr>
        <td>
            <telerik:RadComboBox ID="DropDownListInboundDocumentTypeId" runat="server" DataSourceID="ObjectDataSourceDDLInboundDocumentTypeId"
                DataTextField="InboundDocumentType" DataValueField="InboundDocumentTypeId" Label="InboundDocumentType" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLInboundDocumentTypeId" runat="server" TypeName="StaticInfoInboundDocumentType"
                SelectMethod="ParameterInboundDocumentType">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadComboBox ID="DropDownListOutboundDocumentTypeId" runat="server" DataSourceID="ObjectDataSourceDDLOutboundDocumentTypeId"
                DataTextField="OutboundDocumentType" DataValueField="OutboundDocumentTypeId" Label="OutboundDocumentType" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLOutboundDocumentTypeId" runat="server" TypeName="StaticInfoOutboundDocumentType"
                SelectMethod="ParameterOutboundDocumentType">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadComboBox ID="DropDownListToWarehouseId" runat="server" DataSourceID="ObjectDataSourceDDLToWarehouseId"
                DataTextField="Warehouse" DataValueField="WarehouseId" Label="Warehouse" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLToWarehouseId" runat="server" TypeName="StaticInfoWarehouse"
                SelectMethod="ParameterWarehouse">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
    </tr>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridWarehouseCodeReference" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceWarehouseCodeReference" OnSelectedIndexChanged="RadGridWarehouseCodeReference_SelectedIndexChanged" Skin="Metro">
<PagerStyle Mode="NumericPages"></PagerStyle>
<MasterTableView DataKeyNames="
WarehouseCodeReferenceId
" DataSourceID="ObjectDataSourceWarehouseCodeReference"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridBoundColumn ReadOnly="True" DataField="WarehouseCodeReferenceId" HeaderText="WarehouseCodeReferenceId" SortExpression="WarehouseCodeReferenceId" UniqueName="WarehouseCodeReferenceId"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="WarehouseCode" HeaderText="WarehouseCode" SortExpression="WarehouseCode" UniqueName="WarehouseCode"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="DownloadType" HeaderText="DownloadType" SortExpression="DownloadType" UniqueName="DownloadType"></telerik:GridBoundColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListWarehouseId" ListTextField="Warehouse" ListValueField="WarehouseId" DataSourceID="ObjectDataSourceWarehouseId" DataField="WarehouseId" HeaderText="Warehouse">
            </telerik:GridDropDownColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListInboundDocumentTypeId" ListTextField="InboundDocumentType" ListValueField="InboundDocumentTypeId" DataSourceID="ObjectDataSourceInboundDocumentTypeId" DataField="InboundDocumentTypeId" HeaderText="InboundDocumentType">
            </telerik:GridDropDownColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListOutboundDocumentTypeId" ListTextField="OutboundDocumentType" ListValueField="OutboundDocumentTypeId" DataSourceID="ObjectDataSourceOutboundDocumentTypeId" DataField="OutboundDocumentTypeId" HeaderText="OutboundDocumentType">
            </telerik:GridDropDownColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListToWarehouseId" ListTextField="Warehouse" ListValueField="WarehouseId" DataSourceID="ObjectDataSourceWarehouseId" DataField="ToWarehouseId" HeaderText="Warehouse">
            </telerik:GridDropDownColumn>
            <telerik:GridBoundColumn DataField="ToWarehouseCode" HeaderText="ToWarehouseCode" SortExpression="ToWarehouseCode" UniqueName="ToWarehouseCode"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="Module" HeaderText="Module" SortExpression="Module" UniqueName="Module"></telerik:GridBoundColumn>
        </Columns>
    </MasterTableView>
    <ClientSettings AllowDragToGroup="True" AllowColumnsReorder="True" EnablePostBackOnRowClick="True">
        <Resizing AllowColumnResize="true"></Resizing>
        <Selecting AllowRowSelect="true" />
       </ClientSettings>
    <GroupingSettings ShowUnGroupButton="True" />
</telerik:RadGrid>
<asp:ObjectDataSource ID="ObjectDataSourceWarehouseId" runat="server" TypeName="StaticInfoWarehouse"
    SelectMethod="ParameterWarehouse">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceInboundDocumentTypeId" runat="server" TypeName="StaticInfoInboundDocumentType"
    SelectMethod="ParameterInboundDocumentType">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceOutboundDocumentTypeId" runat="server" TypeName="StaticInfoOutboundDocumentType"
    SelectMethod="ParameterOutboundDocumentType">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceToWarehouseId" runat="server" TypeName="StaticInfoWarehouse"
    SelectMethod="ParameterWarehouse">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
 
<asp:ObjectDataSource ID="ObjectDataSourceWarehouseCodeReference" runat="server" TypeName="StaticInfoWarehouseCodeReference"
    DeleteMethod="DeleteWarehouseCodeReference"
    InsertMethod="InsertWarehouseCodeReference"
    SelectMethod="SearchWarehouseCodeReference"
    UpdateMethod="UpdateWarehouseCodeReference">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="WarehouseCodeReferenceId" Type="Int32" DefaultValue="-1" />
        <asp:SessionParameter DefaultValue="0" Name="WarehouseId" SessionField="WarehouseId" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListInboundDocumentTypeId" DefaultValue="-1" Name="InboundDocumentTypeId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListOutboundDocumentTypeId" DefaultValue="-1" Name="OutboundDocumentTypeId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListToWarehouseId" DefaultValue="-1" Name="ToWarehouseId" PropertyName="SelectedValue" Type="Int32" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="WarehouseCodeReferenceId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="WarehouseCodeReferenceId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="WarehouseCode" Type="String" />
        <asp:Parameter Name="DownloadType" Type="String" />
        <asp:SessionParameter DefaultValue="0" Name="WarehouseId" SessionField="WarehouseId" Type="Int32" />
        <asp:Parameter Name="InboundDocumentTypeId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="OutboundDocumentTypeId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="ToWarehouseId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="ToWarehouseCode" Type="String" />
        <asp:Parameter Name="Module" Type="String" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="WarehouseCodeReferenceId" Type="Int32" />
        <asp:Parameter Name="WarehouseCode" Type="String" />
        <asp:Parameter Name="DownloadType" Type="String" />
        <asp:SessionParameter DefaultValue="0" Name="WarehouseId" SessionField="WarehouseId" Type="Int32" />
        <asp:Parameter Name="InboundDocumentTypeId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="OutboundDocumentTypeId" Type="Int32" DefaultValue="-1" />
        <asp:SessionParameter DefaultValue="0" Name="WarehouseId" SessionField="WarehouseId" Type="Int32" />
        <asp:Parameter Name="ToWarehouseCode" Type="String" />
        <asp:Parameter Name="Module" Type="String" />
    </InsertParameters>
</asp:ObjectDataSource>
