<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WarehouseGridView.ascx.cs" Inherits="UserControls_WarehouseGridView" %>
 
<table style="background-color:lightgray; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
    <tr>
        <td>
            <telerik:RadComboBox ID="DropDownListCompanyId" runat="server" DataSourceID="ObjectDataSourceDDLCompanyId"
                DataTextField="Company" DataValueField="CompanyId" Label="Company" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLCompanyId" runat="server" TypeName="StaticInfoCompany"
                SelectMethod="ParameterCompany">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadTextBox ID="TextBoxWarehouse" runat="server" Label="Warehouse" Width="300px" Skin="Metro"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadTextBox ID="TextBoxWarehouseCode" runat="server" Label="WarehouseCode" Width="300px" Skin="Metro"></telerik:RadTextBox>
        </td>
    </tr>
    <tr>
        <td>
            <telerik:RadComboBox ID="DropDownListParentWarehouseId" runat="server" DataSourceID="ObjectDataSourceDDLParentWarehouseId"
                DataTextField="Warehouse" DataValueField="WarehouseId" Label="Warehouse" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLParentWarehouseId" runat="server" TypeName="StaticInfoWarehouse"
                SelectMethod="ParameterWarehouse">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadComboBox ID="DropDownListAddressId" runat="server" DataSourceID="ObjectDataSourceDDLAddressId"
                DataTextField="Address" DataValueField="AddressId" Label="Address" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLAddressId" runat="server" TypeName="StaticInfoAddress"
                SelectMethod="ParameterAddress">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadComboBox ID="DropDownListPostalAddressId" runat="server" DataSourceID="ObjectDataSourceDDLPostalAddressId"
                DataTextField="Address" DataValueField="AddressId" Label="Address" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLPostalAddressId" runat="server" TypeName="StaticInfoAddress"
                SelectMethod="ParameterAddress">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
    </tr>
    <tr>
        <td>
            <telerik:RadComboBox ID="DropDownListContactListId" runat="server" DataSourceID="ObjectDataSourceDDLContactListId"
                DataTextField="ContactList" DataValueField="ContactListId" Label="ContactList" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLContactListId" runat="server" TypeName="StaticInfoContactList"
                SelectMethod="ParameterContactList">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridWarehouse" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceWarehouse" OnSelectedIndexChanged="RadGridWarehouse_SelectedIndexChanged" Skin="Metro">
<PagerStyle Mode="NumericPages"></PagerStyle>
<MasterTableView DataKeyNames="
WarehouseId
" DataSourceID="ObjectDataSourceWarehouse"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridBoundColumn ReadOnly="True" DataField="WarehouseId" HeaderText="WarehouseId" SortExpression="WarehouseId" UniqueName="WarehouseId"></telerik:GridBoundColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListCompanyId" ListTextField="Company" ListValueField="CompanyId" DataSourceID="ObjectDataSourceCompanyId" DataField="CompanyId" HeaderText="Company">
            </telerik:GridDropDownColumn>
            <telerik:GridBoundColumn DataField="Warehouse" HeaderText="Warehouse" SortExpression="Warehouse" UniqueName="Warehouse"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="WarehouseCode" HeaderText="WarehouseCode" SortExpression="WarehouseCode" UniqueName="WarehouseCode"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="HostId" HeaderText="HostId" SortExpression="HostId" UniqueName="HostId"></telerik:GridBoundColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListParentWarehouseId" ListTextField="Warehouse" ListValueField="WarehouseId" DataSourceID="ObjectDataSourceWarehouseId" DataField="ParentWarehouseId" HeaderText="Warehouse">
            </telerik:GridDropDownColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListAddressId" ListTextField="Address" ListValueField="AddressId" DataSourceID="ObjectDataSourceAddressId" DataField="AddressId" HeaderText="Address">
            </telerik:GridDropDownColumn>
            <telerik:GridBoundColumn DataField="DesktopMaximum" HeaderText="DesktopMaximum" SortExpression="DesktopMaximum" UniqueName="DesktopMaximum"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="DesktopWarning" HeaderText="DesktopWarning" SortExpression="DesktopWarning" UniqueName="DesktopWarning"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="MobileWarning" HeaderText="MobileWarning" SortExpression="MobileWarning" UniqueName="MobileWarning"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="MobileMaximum" HeaderText="MobileMaximum" SortExpression="MobileMaximum" UniqueName="MobileMaximum"></telerik:GridBoundColumn>
                        <telerik:GridCheckBoxColumn DataField="UploadToHost" HeaderText="UploadToHost" SortExpression="UploadToHost" UniqueName="UploadToHost"></telerik:GridCheckBoxColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListPostalAddressId" ListTextField="Address" ListValueField="AddressId" DataSourceID="ObjectDataSourceAddressId" DataField="PostalAddressId" HeaderText="Address">
            </telerik:GridDropDownColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListContactListId" ListTextField="ContactList" ListValueField="ContactListId" DataSourceID="ObjectDataSourceContactListId" DataField="ContactListId" HeaderText="ContactList">
            </telerik:GridDropDownColumn>
        </Columns>
    </MasterTableView>
    <ClientSettings AllowDragToGroup="True" AllowColumnsReorder="True" EnablePostBackOnRowClick="True">
        <Resizing AllowColumnResize="true"></Resizing>
        <Selecting AllowRowSelect="true" />
       </ClientSettings>
    <GroupingSettings ShowUnGroupButton="True" />
</telerik:RadGrid>
<asp:ObjectDataSource ID="ObjectDataSourceCompanyId" runat="server" TypeName="StaticInfoCompany"
    SelectMethod="ParameterCompany">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceParentWarehouseId" runat="server" TypeName="StaticInfoWarehouse"
    SelectMethod="ParameterWarehouse">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceAddressId" runat="server" TypeName="StaticInfoAddress"
    SelectMethod="ParameterAddress">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourcePostalAddressId" runat="server" TypeName="StaticInfoAddress"
    SelectMethod="ParameterAddress">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceContactListId" runat="server" TypeName="StaticInfoContactList"
    SelectMethod="ParameterContactList">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
 
<asp:ObjectDataSource ID="ObjectDataSourceWarehouse" runat="server" TypeName="StaticInfoWarehouse"
    DeleteMethod="DeleteWarehouse"
    InsertMethod="InsertWarehouse"
    SelectMethod="SearchWarehouse"
    UpdateMethod="UpdateWarehouse">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:SessionParameter DefaultValue="0" Direction="InputOutput" Name="WarehouseId" SessionField="WarehouseId" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListCompanyId" DefaultValue="-1" Name="CompanyId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="TextBoxWarehouse" DefaultValue="%" Name="Warehouse" PropertyName="Text" Type="String" />
        <asp:ControlParameter ControlID="TextBoxWarehouseCode" DefaultValue="%" Name="WarehouseCode" PropertyName="Text" Type="String" />
        <asp:ControlParameter ControlID="DropDownListParentWarehouseId" DefaultValue="-1" Name="ParentWarehouseId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListAddressId" DefaultValue="-1" Name="AddressId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListPostalAddressId" DefaultValue="-1" Name="PostalAddressId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListContactListId" DefaultValue="-1" Name="ContactListId" PropertyName="SelectedValue" Type="Int32" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="WarehouseId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="WarehouseId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="CompanyId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="Warehouse" Type="String" />
        <asp:Parameter Name="WarehouseCode" Type="String" />
        <asp:Parameter Name="HostId" Type="String" />
        <asp:Parameter Name="ParentWarehouseId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="AddressId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="DesktopMaximum" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="DesktopWarning" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="MobileWarning" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="MobileMaximum" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="UploadToHost" Type="Boolean" />
        <asp:Parameter Name="PostalAddressId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="ContactListId" Type="Int32" DefaultValue="-1" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="WarehouseId" Type="Int32" />
        <asp:Parameter Name="CompanyId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="Warehouse" Type="String" />
        <asp:Parameter Name="WarehouseCode" Type="String" />
        <asp:Parameter Name="HostId" Type="String" />
        <asp:Parameter Name="ParentWarehouseId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="AddressId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="DesktopMaximum" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="DesktopWarning" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="MobileWarning" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="MobileMaximum" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="UploadToHost" Type="Boolean" />
        <asp:Parameter Name="PostalAddressId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="ContactListId" Type="Int32" DefaultValue="-1" />
    </InsertParameters>
</asp:ObjectDataSource>
