<%@ Page Language="C#" AutoEventWireup="true" CodeFile="MenuItemCultureGridView.aspx.cs" Inherits="Administration_MenuItemCultureGridView" Title="MenuItemCulture" MasterPageFile="~/MasterPages/MasterPage.master" Theme="Default" %>
 
<%@ Register Src="../UserControls/MenuItemCultureGridView.ascx" TagName="MenuItemCultureGridView" TagPrefix="uc1" %>
 
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderHeading" Runat="Server">
    <asp:Label ID="LabelAgenda" runat="server" SkinID="AgendaTitle" Text="Static Maintenance"></asp:Label>
    <br />
    <asp:Label ID="LabelTitle" runat="server" SkinID="PageTitle" Text="MenuItemCulture Administration"></asp:Label>
    <br />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderBody" Runat="Server">
    <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server">
        <AjaxSettings>
            <telerik:AjaxSetting AjaxControlID="MenuItemCulture">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="MenuItemCulture" />
                </UpdatedControls>
            </telerik:AjaxSetting>
        </AjaxSettings>
    </telerik:RadAjaxManager>
    <uc1:MenuItemCultureGridView ID="MenuItemCultureGridView1" runat="server" />
</asp:Content>
