<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SerialNumberGridView.aspx.cs" Inherits="Administration_SerialNumberGridView" Title="SerialNumber" MasterPageFile="~/MasterPages/MasterPage.master" Theme="Default" %>
 
<%@ Register Src="../UserControls/SerialNumberGridView.ascx" TagName="SerialNumberGridView" TagPrefix="uc1" %>
 
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderHeading" Runat="Server">
    <asp:Label ID="LabelAgenda" runat="server" SkinID="AgendaTitle" Text="Static Maintenance"></asp:Label>
    <br />
    <asp:Label ID="LabelTitle" runat="server" SkinID="PageTitle" Text="SerialNumber Administration"></asp:Label>
    <br />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderBody" Runat="Server">
    <uc1:SerialNumberGridView ID="SerialNumberGridView1" runat="server" />
</asp:Content>
