﻿body
{
    font-size:X-Large;
    height: 326px;
}

textarea
{
    font-size:X-Large;
}
.Header
{
	color: #ffffff;
	background-color: #485889;
	font-size:X-large;
}
.txtbx 
{
    color:#485889;
	font-size:X-Large;
}
#MasterTable
{
}