<%@ Page Language="C#" MasterPageFile="~/MasterPages/Empty.master" AutoEventWireup="true" CodeFile="BatchMaintenance.aspx.cs" Inherits="StaticInfo_BatchMaintenance" 
    Title="Batch Maintenance"
    StylesheetTheme="Default"
    Theme="Default" %>

<%@ Register Src="../Common/BatchMaintenace.ascx" TagName="BatchMaintenace" TagPrefix="uc1" %>
<%@ MasterType VirtualPath="~/MasterPages/Empty.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderBody" Runat="Server">
    <uc1:BatchMaintenace ID="BatchMaintenace1" runat="server" />
</asp:Content>