<%@ Page
    Language="C#"
    AutoEventWireup="true"
    CodeFile="ForgotPassword.aspx.cs"
    Inherits="Security_ForgotPassword"
    StylesheetTheme="Default"
    Theme="Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Forgot your password?</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:PasswordRecovery ID="PasswordRecovery1" runat="server">
        </asp:PasswordRecovery>
    </div>
    </form>
</body>
</html>
