<%@ Page Language="C#" MasterPageFile="~/MasterPages/MasterPage.master" AutoEventWireup="true"
    CodeFile="InboundShipmentLink.aspx.cs" Inherits="Inbound_InboundShipmentLink"
    Title="<%$ Resources:Default, InboundShipmentLinkTitle %>" StylesheetTheme="Default"
    Theme="Default" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<%@ Register Src="../Common/InboundSearch.ascx" TagName="InboundSearch" TagPrefix="uc1" %>
<%@ MasterType VirtualPath="~/MasterPages/MasterPage.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderHeading" runat="Server">
    <asp:Label ID="LabelHeading" runat="server" SkinID="PageTitle" Text="<%$ Resources:Default, InboundShipmentLinkTitle %>"></asp:Label>
    <br />
    <asp:Label ID="LabelAgenda" runat="server" SkinID="AgendaTitle" Text="<%$ Resources:Default, InboundShipmentLinkAgenda %>"></asp:Label>
    <br />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderBody" runat="Server">
    <ajaxToolkit:TabContainer runat="server" ID="Tabs">
        <ajaxToolkit:TabPanel runat="Server" ID="TabPanel1" HeaderText="<%$ Resources:Default, Search%>">
            <ContentTemplate>
                <div style="float: left;">
                    <uc1:InboundSearch ID="InboundSearch1" runat="server"></uc1:InboundSearch>
                </div>
                <asp:Button ID="ButtonDocumentSearch" runat="server" Text="<%$ Resources:Default, Search%>"
                    OnClick="ButtonDocumentSearch_Click" />
                <div style="clear: left;">
                </div>
                <br />
                <asp:Button ID="ButtonInsert" runat="server" Text="<%$ Resources:Default, Insert%>"
                    OnClick="ButtonInsert_Click" />
                <asp:UpdatePanel runat="server" ID="UpdatePanelGridViewInboundShipment">
                    <ContentTemplate>
                        <asp:GridView ID="GridViewInboundShipment" runat="server" AutoGenerateColumns="false"
                            DataKeyNames="InboundShipmentId" AutoGenerateSelectButton="true" AutoGenerateDeleteButton="true"
                            OnSelectedIndexChanged="GridViewInboundShipment_SelectedIndexChanged" OnPageIndexChanging="GridViewInboundShipment_PageIndexChanging"
                            OnRowDeleting="GridViewInboundShipment_Deleting">
                            <Columns>
                                <asp:BoundField DataField="InboundShipmentId" HeaderText="<%$ Resources:Default, InboundShipmentId %>">
                                    <ItemStyle Wrap="true" Width="60px" HorizontalAlign="Center"></ItemStyle>
                                </asp:BoundField>
                                <asp:BoundField DataField="OrderNumber" HeaderText="<%$ Resources:Default, OrderNumber %>">
                                    <ItemStyle Wrap="False"></ItemStyle>
                                </asp:BoundField>
                                <asp:BoundField DataField="ExternalCompanyCode" HeaderText="<%$ Resources:Default, ExternalCompanyCode %>">
                                    <ItemStyle Wrap="False"></ItemStyle>
                                </asp:BoundField>
                                <asp:BoundField DataField="ExternalCompany" HeaderText="<%$ Resources:Default, ExternalCompany %>">
                                    <ItemStyle Wrap="False"></ItemStyle>
                                </asp:BoundField>
                                <asp:BoundField DataField="NumberOfLines" HeaderText="<%$ Resources:Default, NumberOfLines %>">
                                    <ItemStyle Wrap="False" Width="50px" HorizontalAlign="Center"></ItemStyle>
                                </asp:BoundField>
                                <asp:BoundField DataField="DeliveryDate" HeaderText="<%$ Resources:Default, DeliveryDate %>">
                                    <ItemStyle Wrap="False"></ItemStyle>
                                </asp:BoundField>
                                <asp:BoundField DataField="Status" HeaderText="<%$ Resources:Default, Status %>">
                                    <ItemStyle Wrap="False"></ItemStyle>
                                </asp:BoundField>
                                <asp:BoundField DataField="InboundDocumentType" HeaderText="<%$ Resources:Default, InboundDocumentType %>">
                                    <ItemStyle Wrap="False"></ItemStyle>
                                </asp:BoundField>
                                <asp:BoundField DataField="Location" HeaderText="<%$ Resources:Default, Location %>">
                                    <ItemStyle Wrap="False"></ItemStyle>
                                </asp:BoundField>
                                <asp:BoundField DataField="CreateDate" HeaderText="<%$ Resources:Default, CreateDate %>">
                                    <ItemStyle Wrap="False"></ItemStyle>
                                </asp:BoundField>
                                <asp:BoundField DataField="Rating" HeaderText="<%$ Resources:Default, Rating %>">
                                    <ItemStyle Wrap="False"></ItemStyle>
                                </asp:BoundField>
                            </Columns>
                        </asp:GridView>
                    </ContentTemplate>
                    <Triggers>
                        <asp:AsyncPostBackTrigger ControlID="ButtonDocumentSearch" EventName="click"></asp:AsyncPostBackTrigger>
                        <asp:AsyncPostBackTrigger ControlID="ButtonInsert" EventName="click"></asp:AsyncPostBackTrigger>
                    </Triggers>
                </asp:UpdatePanel>
            </ContentTemplate>
        </ajaxToolkit:TabPanel>
        <ajaxToolkit:TabPanel runat="Server" ID="TabPanel2" HeaderText="<%$ Resources:Default, Link%>">
            <ContentTemplate>
                <table border="solid" cellpadding="5">
                    <tr>
                        <td colspan="2">
                            <asp:Button ID="ButtonPrint" runat="server" Text="<%$ Resources:Default, PrintCheckSheet%>" OnClick="ButtonPrint_Click" style="Width:auto;"/>
                            <asp:Button ID="ButtonConsolidate" runat="server" Text="<%$ Resources:Default, ButtonConsolidate%>" OnClick="ButtonConsolidate_Click" style="Width:auto;"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <asp:Label ID="Label8" runat="server" Text="<%$ Resources:Default, LinkedOrders%>"
                                Font-Bold="true"></asp:Label>
                        </td>
                        <td>
                            <asp:Label ID="Label7" runat="server" Text="<%$ Resources:Default, ReceivingDocUnlinked%>"
                                Font-Bold="true"></asp:Label>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <asp:UpdatePanel runat="server" ID="UpdatePanelGridViewLinked">
                                <ContentTemplate>
                                    <asp:GridView ID="GridViewLinked" runat="server" DataKeyNames="InboundShipmentId,ReceiptId"
                                        AutoGenerateColumns="False" OnSelectedIndexChanged="GridViewLinked_SelectedIndexChanged">
                                        <Columns>
                                            <asp:CommandField SelectText="<%$ Resources:Default, Remove%>" ShowSelectButton="True" />
                                            <asp:BoundField DataField="InboundShipmentId" HeaderText="<%$ Resources:Default, InboundShipmentId%>"
                                                SortExpression="InboundShipmentId" Visible="False" ReadOnly="True" />
                                            <asp:BoundField DataField="ReceiptId" HeaderText="<%$ Resources:Default, ReceiptId%>"
                                                SortExpression="ReceiptId" Visible="False" ReadOnly="True" />
                                            <asp:BoundField DataField="OrderNumber" SortExpression="OrderNumber" />
                                        </Columns>
                                    </asp:GridView>
                                </ContentTemplate>
                                <Triggers>
                                    <asp:AsyncPostBackTrigger ControlID="buttonunlinkedsearch" EventName="click"></asp:AsyncPostBackTrigger>
                                    <%--<asp:AsyncPostBackTrigger ControlID="buttondocumentsearch" EventName="click"></asp:AsyncPostBackTrigger>--%>
                                    <asp:AsyncPostBackTrigger ControlID="gridviewlinked" EventName="selectedindexchanged">
                                    </asp:AsyncPostBackTrigger>
                                </Triggers>
                            </asp:UpdatePanel>
                        </td>
                        <td>
                            <div style="float: left;">
                                <uc1:InboundSearch ID="InboundSearch2" runat="server"></uc1:InboundSearch>
                            </div>
                            <asp:Button ID="ButtonUnlinkedSearch" runat="server" Text="<%$ Resources:Default, Search%>"
                                OnClick="ButtonUnlinkedSearch_Click" />
                            <div style="clear: left;">
                            </div>
                            <br />
                            <asp:UpdatePanel runat="server" ID="UpdatePanelGridViewUnlinked">
                                <ContentTemplate>
                                    <asp:GridView ID="GridViewUnlinked" runat="server" AutoGenerateColumns="False" DataKeyNames="ReceiptId"
                                        OnSelectedIndexChanged="GridViewUnlinked_SelectedIndexChanged" AllowPaging="True" OnPageIndexChanging="GridViewUnlinked_PageIndexChanging">
                                        <Columns>
                                            <asp:CommandField SelectText="<%$ Resources:Default, Add%>" ShowSelectButton="True">
                                            </asp:CommandField>
                                            <asp:BoundField DataField="OrderNumber" HeaderText="<%$ Resources:Default, OrderNumber %>">
                                            </asp:BoundField>
                                            <asp:BoundField DataField="ExternalCompanyCode" HeaderText="<%$ Resources:Default, ExternalCompanyCode %>">
                                                <ItemStyle Wrap="False"></ItemStyle>
                                            </asp:BoundField>
                                            <asp:BoundField DataField="ExternalCompany" HeaderText="<%$ Resources:Default, ExternalCompany %>">
                                                <ItemStyle Wrap="False"></ItemStyle>
                                            </asp:BoundField>
                                            <asp:BoundField DataField="NumberOfLines" HeaderText="<%$ Resources:Default, NumberOfLines %>">
                                                <ItemStyle Wrap="False"></ItemStyle>
                                            </asp:BoundField>
                                            <asp:BoundField DataField="DeliveryDate" HeaderText="<%$ Resources:Default, DeliveryDate %>">
                                                <ItemStyle Wrap="False"></ItemStyle>
                                            </asp:BoundField>
                                            <asp:BoundField DataField="Status" HeaderText="<%$ Resources:Default, Status %>">
                                                <ItemStyle Wrap="False"></ItemStyle>
                                            </asp:BoundField>
                                            <asp:BoundField DataField="InboundDocumentType" HeaderText="<%$ Resources:Default, InboundDocumentType %>">
                                                <ItemStyle Wrap="False"></ItemStyle>
                                            </asp:BoundField>
                                            <asp:BoundField DataField="Location" HeaderText="<%$ Resources:Default, Location %>">
                                                <ItemStyle Wrap="False"></ItemStyle>
                                            </asp:BoundField>
                                            <asp:BoundField DataField="CreateDate" HeaderText="<%$ Resources:Default, CreateDate %>">
                                                <ItemStyle Wrap="False"></ItemStyle>
                                            </asp:BoundField>
                                            <asp:BoundField DataField="Rating" HeaderText="<%$ Resources:Default, Rating %>">
                                                <ItemStyle Wrap="False"></ItemStyle>
                                            </asp:BoundField>
                                        </Columns>
                                    </asp:GridView>
                                </ContentTemplate>
                                <Triggers>
                                    <asp:AsyncPostBackTrigger ControlID="ButtonUnlinkedSearch" EventName="Click"></asp:AsyncPostBackTrigger>
                                </Triggers>
                            </asp:UpdatePanel>
                        </td>
                    </tr>
                </table>
            </ContentTemplate>
        </ajaxToolkit:TabPanel>
    </ajaxToolkit:TabContainer>
    <asp:ObjectDataSource ID="ObjectDataSourceInboundDocumentType" runat="server" TypeName="InboundDocumentType"
        SelectMethod="GetInboundDocumentTypes">
        <SelectParameters>
            <asp:SessionParameter Name="connectionStringName" SessionField="ConnectionStringName"
                Type="String" />
        </SelectParameters>
    </asp:ObjectDataSource>
</asp:Content>
