<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AlternatePickLocationProduct.ascx.cs" Inherits="Screens_AlternatePickLocationProduct" %>
<asp:Button ID="lbAlternate" runat="server" TabIndex="10" Text="<%$ Resources:Default, AlterLocation %>" OnClick="lbAlternate_Click"></asp:Button>
