<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SendToPickFace.ascx.cs" Inherits="Screens_SendToPickFace" %>
<asp:Button ID="lbAlternate" runat="server" TabIndex="10" Text="<%$ Resources:Default, SendToPF %>" OnClick="lbAlternate_Click"></asp:Button>
