<%@ Page Language="C#"
    MasterPageFile="~/Master.master"
    AutoEventWireup="true"
    CodeFile="ForgotPassword.aspx.cs"
    Inherits="Security_ForgotPassword"
    Title="Forgot Password"
    StylesheetTheme="Default"
    Theme="Default"
%>

<%@ MasterType VirtualPath="~/Master.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
   <div align="center" style="width:100px;">  
        <asp:PasswordRecovery ID="PasswordRecovery1" runat="server">
        </asp:PasswordRecovery>
    </div>
</asp:Content>
