﻿<%@ Page Language="C#" 
MasterPageFile="~/MasterPages/MasterPage.master" 
AutoEventWireup="true" 
CodeFile="InterfaceDashboard1.aspx.cs" 
Inherits="Reports_InterfaceDashboard1" 
StylesheetTheme="Default"
Theme="Default" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"
    Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>

<%@ Register Src="../Common/DateRange.ascx" TagName="DateRange" TagPrefix="uc1" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>

<script runat="server">

</script>

<%--<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderHeading" Runat="Server">
    <asp:Label ID="LabelHeading" runat="server" SkinID="PageTitle" Text="Interface Dashboard"></asp:Label>
    <br />

    
</asp:Content>--%>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolderHeading" Runat="Server">
    <asp:Label ID="Label1" runat="server" SkinID="PageTitle" Text="<%$ Resources:Default, ReportTitle %>"></asp:Label>
    <br />
    <asp:Label ID="LabelAgenda" runat="server" SkinID="AgendaTitle" Text="<%$ Resources:Default, ReportAgenda %>"></asp:Label>
    <br />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderBody" Runat="Server">
                        
                            <uc1:DateRange ID="DateRange1" runat="server" />
                        


<asp:Button ID="btnsearch" runat="server" Text="View Report" Width="120px" 
        onclick="btnsearch_Click"  />

        
        
         

    


    

    
         
        
         

    


    

</asp:Content>
